[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
importlib-metadata = "*"
importlib-resources = "*"
flask-bcrypt = "*"
gunicorn = "*"
psycopg2-binary = "*"
flask-cors = "*"
flask-jwt-extended = "*"
faker = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.10"
